*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
align-items: center;
}
.wrapper .header{
    text-align: center;
    margin: 2rem 0;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    font-size: 0.8rem;
    padding: 10px;
}

.wrapper{
width: 50%;
margin: 0 auto;

}
.calc{
    width: 100%;
    background-color:hsl(0, 0%, 100%) ;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
   
    
}
.left, .right{
    width: 50%;
    align-self:stretch;
    min-height: 100%;
}

.left{
    margin-right: 20px;
    
}

.cl-input{
    margin-bottom: 2rem;
}
.cl-input label, .percents-title{
    color: hsl(184, 14%, 56%);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.bill-input{
    width: 100%;
    display:flex;
    background-color: hsl(189, 41%, 97%);
    padding: 0.4rem 0;
    border-radius: 5px;
    border: 2px solid transparent;
    color: hsl(183, 100%, 15%);
}
.bill-input:hover,
.bill-input:focus-within {
    border: 2px solid hsl(172, 67%, 45%);
}
.bill-input input{
    width: 100%;
   border: none;
   background-color: transparent;
    padding-right: 15px;
    font-weight: 700;
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    
}
.bill-input input:focus{
    outline: none;
}
.bill-input input::placeholder{
    color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
}
.bill-input input:out-of-range{
    color: red;
    border-color: red;
}
.bill-input object {
margin-top: 5px;
}
.bill-input input[type=number]::-webkit-inner-spin-button,
.bill-input input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.percents{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    
}
.cl-percent {
    background-color: hsl(183, 100%, 15%);
    padding: 0.5rem 0;
    border-radius: 5px;
    width: 30%;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}
.cl-percent:active {
    background-color: hsl(185, 41%, 84%);
}
.cl-percent.cl-percent-custom {
    background-color: hsl(189, 41%, 97%);
    
    padding: 0.5rem 0;
    border-radius: 5px;
    width: 30%;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;

}
.cl-percent.cl-percent-custom {
    background: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);

  }
  .cl-percent.cl-percent-custom::placeholder {
    color: hsl(186, 14%, 43%);
  }
  .cl-percent.cl-percent-custom:hover,
.cl-percent.cl-percent-custom:focus {
  background-color: hsl(189, 41%, 97%);
  outline-width: 1px;
  outline-color: hsl(172, 67%, 45%);
}
.cl-percent.cl-percent-custom:out-of-range{
    color: red;
    border-color: red;
}
.cl-percent.cl-percent-custom[type=number]::-webkit-inner-spin-button,
.cl-percent.cl-percent-custom[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.right{
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:760px){
    .wrapper {
        width: 90%;
        margin: 0 auto;
      }
    .calc{
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
        align-self: stretch;
        min-height: 100%;

    }
    /* .cl-percent {
        text-align: center;
        font-size: 1rem;

    } */
    
    
}
.rwrapper{
    
}

.ratio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.tip-info .title
{
   font-size: 0.8rem;
    color: hsl(0, 0%, 100%) ;
    font-weight: 700;
}
.tip-info .subtle{
    font-size: 0.6rem;
    color: hsl(189, 41%, 97%) ;
    opacity: 0.5;
font-weight: 700;
}
.tip-amount{
    font-size: 2rem;
    color: hsl(172, 67%, 45%);
}
.tip-action{

}
.reset-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border:  none;
    background-color: hsl(183, 100%, 20%);
    font-family: inherit;
    font-size: 1.1rem;
    color: hsl(183, 100%, 15%);

}
.reset-btn:active{
    background-color: hsl(185, 41%, 84%);
}
/* Frontend Mentor */
.attribution {
    position: absolute;

    bottom: 1px;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }