@import url('https://fonts.googleapis.com/css?family-Allura|Josefi+Sans');

*{
   margin:0;
   padding: 0;
   box-sizing: border-box ;

}

#menu {
     background-color: #f7971e;
     font-family: 'Josefin Sans', sans-serif;
     width: 100%;
     position: sticky;
     margin-top: 0px;
     overflow:auto;
     box-shadow:  2px 7px 10px #d2801a
     

 }
 .menu a{
    text-align: center;
    color: hsl(0, 0%, 95%);
    padding: 16px 16px ;
    text-decoration: none;
    font-size: 15px;
    float:right;
 }
 .menu a:hover {
    background-color: rgba(221, 221, 221, 0.767);
    color: black;

 }
 .menu a.active {
    background-color: white;
    color:#f7971e;
    
  }
  .logo {background-color: black;
   width: 100%;
   position: sticky;
     
  }
  img {float: center;
   width: auto;
   height: 40px;
   margin-top: 5px;
   margin-bottom: 2px;
}
  .cont
  {font-family: 'Josefin Sans', sans-serif;
     background-image: url("groun.jpg");
     
     height: 104px;
     width: 100%;
     position: absolute;
     margin-top: 0px;
     padding: 25px;
     
     box-shadow: inset 0 0 0 1000px rgba(5, 3, 0, 0.7);
     
     text-align: center;
     font-weight: bolder;
     font-size: 20px;
     position: static; 
  }
  .wrapper{
     font-family: 'Josefin Sans', sans-serif;
     margin-top: 2%;
  }
  .wrapper h1{
     font-family: 'Allura', cursive;
     font-size: 52px;
     margin-bottom: 0px;
     text-align: center;
    
  }
  .serve{ display: flex;
   text-align: center;
   width: auto;
    justify-content: center;
   
  }
  .serve .services{
     
     border-radius: 7px;
background: linear-gradient(145deg, #de881b, #ffa220);
box-shadow:  5px 5px 6px #d2801a,
             -5px -5px 6px #ffae23;
     margin: 7px;
     margin-bottom: 50px;
     width: 350px;
     padding: 20px;
     line-height: 20px;
     color: #fff;
     position: relative;
  }
  .serve .services h3{
     color: #000;
     font-size: 26px;
     margin-top: 50px;

  }
.serve .services p.description{
   color: #eee
   ;
   font-size: 12px;
   text-transform: uppercase;
   margin: 12px;

}

