*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  }
body
{
    text-align: center;
    align-content: center;
    padding: 70px;
}
input[type="radio"]{
    margin-top: 1px;
    vertical-align: baseline;

}
button {

    color: white;
    background-color: rgb(0, 109, 199);
    padding: 0.3rem 0.6rem;
    transition: 0.8s;
    cursor: pointer;
    border-radius: 2px;
}
button:hover {
    background-color: brown;
}